<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Quick SSV Viewer</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="container">
            <h1>
                <%= directory %>
            </h1>
            <% if(parent !== null) { %>
                <a href="<%= parent %>">Parent</a>
            <% } %>
            <ul>
                <% files.forEach(f => { %>
                    <li>
                        <% if(f.type === 'file') { %>
                            <a href="<%= '/file' + path + f.name %>"><%= f.name %></a>
                        <% } else if(f.type === 'directory') { %>
                            <a href="<%= '/tree' + path + f.name + '/' %>"><%= f.name %></a>
                        <% } %>
                    </li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>